<h1>Post Form</h1>

<form action="/posts" method="post">
  Title: <input id="title" name="title">
  Description: <input id="description" name="description">
  Submit Post<input type="submit" id="Submit Post" value="Submit Post">
</form>