<h3>Post Form</h3>
 
<form>
  <label>Post title:</label><br>
  <input type="text" id="title" name="itle"><br>
 
  <label>Post Description</label><br>
  <textarea id="description" name="description"></textarea><br>
 
  <input type="submit" value="Submit Post">
</form>
 
<%= params.inspect %>