<h3>Post Form</h3>
<%= form_tag posts_path do %>
  <label>My Post Title:</label>
  <%= text_field_tag :'post[title]' %>
    <br>
  <label>Post Description:</label>
  <%= text_area_tag :'post[description]' %><br>
    <br>
  <%= submit_tag "Submit Post" %>
<% end %>